.user-profile-container {
  display: flex;
  gap: 1rem;
}

.user-profile-left {
  width: 40%;
}

.user-profile-right {
  width: 50%;
}

.user-profile-header {
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.user-profile-info h2 {
  margin: 0;
  font-size: 30px;
}

.user-profile-info p {
  margin: 0;
  font-size: 15px;
  color: #006eff;
}

.user-profile-body-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.user-profile-body {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.user-profile-body-label {
  width: 50%;
  color: #919191;
}

.user-profile-body-input-container {
  width: 50%;
}

.user-profile-body-input {
  border: 1px solid #919191;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  width: 100%;
}
